
<div class="container">
    <form [formGroup]="formGeneral">

        <div class="form-group">
            <label>First Name </label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>
        <app-error [Errors]="formGeneral.get('firstName').errors" *ngIf="getFirstName.invalid && getFirstName.touched"></app-error>

        <div class="form-group">
            <label>Last Name </label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <app-error [Errors]="formGeneral.get('lastName').errors" *ngIf="getLastName.invalid && formGeneral.get('lastName').touched"></app-error>

        <div class="form-group">
            <label>Birth Date</label>
            <input type="text" class="form-control" formControlName="birthDate">
        </div>
        <app-error [Errors]="formGeneral.get('birthDate').errors" *ngIf="getBirthDate.invalid && formGeneral.get('birthDate').touched"></app-error>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <app-error [Errors]="formGeneral.get('email').errors" *ngIf="getEmail.invalid && formGeneral.get('email').touched"></app-error>

    
      
    
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" formControlName="password">
            </div>

            <app-error [Errors]="formGeneral.get('password').errors" *ngIf="getPassword.invalid && formGeneral.get('password').touched"></app-error>

            <div class="form-group">
                <label>Profession</label>
                <input type="date" class="form-control" formControlName="profession">
            </div>
            <app-error [Errors]="formGeneral.get('profession').errors" *ngIf="getProfession.invalid && formGeneral.get('profession').touched"></app-error>

         
            <p>Customer Category</p>
         
                <select class="custom-select" formControlName="customerCategory">
                <option value="Customer">Customer</option>
              
            </select>
            <app-error [Errors]="formGeneral.get('customerCategory').errors" *ngIf="mycustomerCategory.invalid && formGeneral.get('customerCategory').touched"></app-error>

        
        
    
        
        <input  type="submit" class="btn btn-primary" value="Add Product" >

            
    </form>
      </div>