
<div class="container">
    <form [formGroup]="formGeneral" (submit)="addProduct()">

        <div class="form-group">
            <label>Id Produit</label>
            <input type="text" class="form-control" formControlName="idproduit">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="IdProduit.invalid && IdProduit.touched">
            Vérifiez l'id
        </div>
        <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control" formControlName="code">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="myCode.invalid && myCode.touched">
            Vérifiez code
        </div>
        <div class="form-group">
            <label>Libelle</label>
            <input type="text" class="form-control" formControlName="libelle">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="Libelle.invalid && Libelle.touched">
            Vérifiez Libelle
        </div>
        <div class="form-group">
            <label>Prix unitaire</label>
            <input type="text" class="form-control" formControlName="prixunitaire">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="PrixUnitaire.invalid && PrixUnitaire.touched">
            Vérifiez  code
        </div>
    
      
        <div formGroupName="detailsForm">
            <div class="form-group">
                <label>Id details produit</label>
                <input type="text" class="form-control" formControlName="iddetailproduit">
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="IdDetailProduit.invalid && IdDetailProduit.touched ">
                Vérifiez le code
            </div>
            <div class="form-group">
                <label>Date création</label>
                <input type="date" class="form-control" formControlName="datecreation">
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="DateCreation.invalid && DateCreation.touched">
                Vérifiez le code
            </div>
            <div class="form-group">
                <label>Date dernière modification</label>
                <input type="date" class="form-control" formControlName="datedernieremodification">
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="DateDerniereModification.invalid && DateDerniereModification.touched">
                Vérifiez le code
            </div>
            <p>Categorie produit</p>
            <select formControlName="categorie" class="form-control">
                <option value="electromenager,">Electromenager</option>
                <option value="alimentaire">Alimentaire</option>
                <option value="quincaillerie">Hamster</option>
            </select>
            <div class="alert alert-danger" role="alert" *ngIf="Categorie.invalid && Categorie.touched ">
                Vérifiez le code
            </div>
        
    
        </div>
        
    
        
    
        
        <input *ngIf="formGeneral.valid" type="submit" class="btn btn-primary" value="Add Product" >
            
    </form>
      </div>