<div class="container">
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Id produit</label>
      <input type="email" required class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Code </label>
      <input type="password" class="form-control" required id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Libele </label>
        <input type="email" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Prix unitaire</label>
        <input type="email" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
  
    <button type="submit" class="btn btn-primary"> Suivant</button>
    <div class="form-group">
        <label for="exampleInputEmail1">id detail produit </label>
        <input type="email" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    <div class="form-group">
        <label for="exampleInputEmail1">date creation </label>
        <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">date derniere modification </label>
        <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
 
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">categorie produit</label>
        <select class="custom-select my-1 mr-sm-2" required id="inlineFormCustomSelectPref">
          <option selected>Choose...</option>
          <option value="1">Electromenager</option>
          <option value="2">Alimentaire</option>
          <option value="3">Quincaillerie</option>
        </select>

    
         
  </form>

</div>